.ui-widget-content {
    background: rgba(0.0, 0.0, 0.0, 0.8);
}
.ui-widget-header {
    background: rgba(51, 51, 51, 0.493);
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  line-height: 180%;
}

 body {
    margin: 0px;
    overflow: hidden; /* Hide scrollbars */
    width: 100%;
    height: 100%;
 }

 .time-range {
    font-weight: bold;
    color: orange;
 }

 .no-close .ui-dialog-titlebar-close {
    display: none;
  }

#pbLoading {
  margin: 10px 0px 10px 0px;
}
#tblLoading td {
  vertical-align: center;
  padding: 0px 3px 0px 3px;
}
#tblLoading tr.done {
  opacity: 0.3;
}
#tblLoading tr > td:nth-child(2) {
  padding-bottom: 5px;
}
#spLoading.animated {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#mainMenu,#infoMenu {
  padding: 0;
}

.ui-accordion-content.ui-widget-content {
  padding: 1em;
  background: rgba(255, 255, 255, 0.05);
}

#tooltip {
  opacity: 0.9;
  position:absolute;
  font-size: 9px;
  background: rgba(0.0, 0.0, 0.0, 0.8);
  color: white;
  box-sizing: border-box;
  border-radius: 5px;
  /*border: 2px solid rgba(255,255,255,0.2);*/
  padding: 3px;
}

#tooltip::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0.0, 0.0, 0.0, 0.8) transparent;
}

#tooltip td {
  padding: 0px 5px 0px 5px;
}

#legend {
  position:absolute;
  width: 300px;
  bottom: 5%;
  left: 50%;
  margin-left:  -150px;
  background: rgba(255.0, 255.0, 255.0, 0.5);
  font-size: 10pt;
  box-sizing: border-box;
  padding: 5px 7px 5px 7px;
  border-radius: 5px;
  border: 2px solid rgba(255,255,255,1.0);
  font-weight: bold;
}

#legend table {
  width: 100%;
  white-space: nowrap;
}

#legend table td {
  padding: 0px 5px 0px 5px;
}

h4 {
  margin-block-end: 0.5em;
}

.colorpicker {
  font-size: 10px !important;
  text-align: center;
  width: 60%;
  color:rgba(0.0, 0.0, 0.0, 0.8);
  font-weight: bold;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 3px;
  border-style: none;
  float: right;
  cursor: pointer;
}

.hotkey {
  border: 1px solid rgba(255,255,255,0.5);
  width: 20px;
  border-radius: 5px;
  line-height: 120%;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

#b-leg {
  padding: 5px;
  box-sizing: border-box;
  background: linear-gradient(90deg, rgba(0,24,231,1) 0%, rgba(243,243,243,1) 50%, rgba(255,0,0,1) 100%);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,1.0);
}

  #footer {
    position: absolute;
    width: 100%;
    background: rgba(0.0, 0.0, 0.0, 0.8);
    bottom: 0;
    padding: 8px 15px 10px 15px;
    font-size:small;
    color: white;
    box-sizing: border-box;
  }

  body.map {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
    height: 50vh;
    background-color: #000000;
    background-size: 10px 10px;
    animation: progress-bar-stripes 3s linear infinite;
  }

  body.error {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    height: 50vh;
    background-color: #af000f;
    background-size: 10px 10px;
    animation: progress-bar-stripes 1s linear infinite;
  }

  body.loading {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    height: 50vh;
    background-color: #bb4805;
    background-size: 10px 10px;
    animation: progress-bar-stripes 1s linear infinite;
  }

  @keyframes progress-bar-stripes {
    0% {
      background-position: 20px 0;
    }
    100% {
      background-position: 0 0;
    }
}

.positionable {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  background-color: #bcd5e6;
}

#nowebgpu {
  border-radius: 10px;
  background-color: #af000fd8;
  border: solid 5px #ffffff96;
  -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.5);
  padding: 0px 30px 0px 30px;
  color: #FFFFFF;
  width: 520px;
  height: 240px;
}
#nowebgpu a {
  color: #FFFFFF;
  font-style: italic;
}

.ui-dialog-title {
  text-align: center;
}
.ui-dialog-title .material-symbols-outlined {
  font-size: 16px;
  vertical-align: middle;
}

.ui-checkboxradio-label, .ui-selectmenu-button {
  width: 100% !important;
  box-sizing: border-box;
}

#db-cards > .db_card:nth-child(1) {
  border-radius: 5px 5px 0px 0px;
}
#db-cards > .db_card:last-child {
  border-radius: 0px 0px 5px 5px;
}
.db_card {
  width: 100%;
  border: rgba(255,255,255,0.5) solid 1px;
  box-sizing: border-box;
  padding: 7px;
  transition: ease 0.4s all;
}
.db_card > div {
  width:100%;
  padding: 2px 0px 2px 0px;
}

.db_card_title {
  font-size: small;
  font-weight: bold;
}


.db_card.selected > .db_card_title {
  text-decoration: underline;
}
.db_card.selected:hover {
  background-color: rgba(192, 14, 14, 0.3);
  cursor: not-allowed;
}

.db_card_info {
  font-size:  smaller;
  font-style: italic;
  display: none;
}

.db_card_filename {
  font-size:  smaller;
  font-style: italic;
  text-align: right;
  opacity: 0.5;
}

.db_card:hover {
  background-color: rgba(14, 151, 192, 0.3);
  cursor: pointer;
}
.db_card.selected {
  border-width: 3px;
  background-color: rgba(192, 115, 14, 0.3);
}
.ui-progressbar-value {
    background-color: orange;
}